@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Nunito:wght@400;500;600;700;800;900&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nabla&family=Nunito:wght@400;500;600;700;800;900&family=Quicksand&display=swap");

body {
  justify-content: start;
  background: rgb(86, 18, 91);
  background: linear-gradient(
    339deg,
    rgba(86, 18, 91, 1) 0%,
    rgba(40, 10, 80, 1) 100%
  );
  min-height: 100vh;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Nabla", cursive;
  margin-top: 100px;
  margin-bottom: 60px;
  font-size: 10em;
}

.result-text {
  font-family: "Nabla", cursive;
  font-size: 2em;
}
